*.log
*.d
*.o
*.pyc
*.class
*.tmp
CMakeLists.txt
cmake-build-debug*
.idea*
GlauberMCModel/*.root
GlauberMCModel/*.txt
GlauberMCModel/*.png
GlauberMCModel/*.bak
GlauberMCModel/graphs*
GlauberMCModel/cmake*
GlauberMCModel/build*
GlauberMCModel/hist*
GlauberMCModel/sim*
GlauberMCModel/out*
GlauberMCModel/.*
GlauberMCModel/data.txt*
GlauberMCModel/graphs
GlauberMCModel/sim
.vscode/settings.json
D0MesonsID/MLStudies/canvas.pdf
D0MesonsID/MLStudies/TMVApp.root
D0MesonsID/MLStudies/dataset_01/weights/TMVAClassification_BDT.class.C
D0MesonsID/MLStudies/dataset_01/plots/overtrain_BDT.png
D0MesonsID/MLStudies/dataset_01/plots/mva_BDT.png
D0MesonsID/MLStudies/.vscode/settings.json

D0MesonsID/.vscode/settings.json
D0MesonsID/MLStudies/BDT_ROC_all.C
D0MesonsID/MLStudies/BDT_ROC.C
D0MesonsID/MLStudies/dataset_01/weights/TMVAClassification_BDT.weights.xml
D0MesonsID/MLStudies/TMVApp.root
D0MesonsID/MLStudies/TMVAClassification_BDT.weights.xml
D0MesonsID/MLStudies/TMVA_01.root

