*.log
*.d
*.o
*.pyc
*.class
*.tmp
CMakeLists.txt
cmake-build-debug*
.idea*
GlauberMCModel/data.txt*
GlauberMCModel/graphs
GlauberMCModel/sim
.vscode/settings.json
D0MesonsID/MLStudies/canvas.pdf
D0MesonsID/MLStudies/TMVApp.root
